<h1>ログイン</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="login_form">
    <div class="form email">
      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email %>
    </div>
    <div class="form password">
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password %>
    </div>
  </div>
  <%= f.submit 'ログイン', class: 'btn btn-default' %>
<% end %>
