<h2>プロフィールを編集する</h2>
<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form edit">
    <div class="form image_area">
      <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
    </div>
    <div class="form name">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form email">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="form password">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="form password_confirmation">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="form image">
      <%= f.label :image %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
  </div>
  <%= f.submit class: 'btn btn-default' %>
<% end %>
<div class="link　btn-group">
  <span class="btn btn-default"><%= link_to '編集しないで戻る', user_path %></span>
</div>
