<h3>本文</h3>
<%= @post.content %></p>
<h3>Image</h3>
<div class="image_area">
  <%= image_tag @post.image.url %>
</div>
<% if @post.user_id == current_user.id %>
  <div class="link　btn-group">
    <span class="btn btn-default"><%= link_to '編集する', edit_post_path(@post) %></span>
    <span class="btn btn-default"><%= link_to '削除する', post_path(@post), method: :delete, data: {confirm: '本当に削除していいですか？'} %></span>
  </div>
<% end %>
<span class="btn btn-default"><%= link_to '一覧画面へ戻る', posts_path %></span>
