<!DOCTYPE html>
<html>
  <head>
    <title>Instaclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <header>
      <% if logged_in? %>
        <ul>
          <li class="left logo_text"><%= link_to "Instaclone", root_path %></li>
          <li class="right">ユーザー:<%= link_to current_user.name, user_path(current_user.id) %></li>
          <li class="right"><%= link_to "投稿一覧", posts_path %></li>
          <li class="right"><%= link_to '新規投稿', new_post_path %></li>
          <li class="right"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
        </ul>
      <% else %>
        <ul>
          <li class="left"><%= link_to "Instaclone", root_path %></li>
          <li class="right"><%= link_to "新規登録", new_user_path %></li>
          <li class="right"><%= link_to "ログイン", new_session_path %></li>
        </ul>
      <% end %>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <p>Instaclone</p>
      <p>© 2020 T-ogino</p>
    </footer>
  </body>
</html>
